#menu {
    top: 0;
    position: sticky;
}

#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
  }
  
#menu > ul li {
    float: left;
}
  
#menu > ul li a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(128, 128, 128);
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
}

input[type="text"] {
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 30%;
}

input[type="submit"] {
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 20%;
}

textarea {
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 60%;
}

#usr_msg {
    border: 2px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}