{% extends "template.html" %}
{% block title %}All Files{% endblock %}
{% block body %}
    <center>
        <h1>
            All Pages:
        </h1>
        <ul>
            {% for file in allfiles["pages"] %}
                {% if file != 'template' and file != 'noauthtemplate' and file != 'successfulsub' and file != 'edit' %}
                    <li>
                        <a href="{{ url_for(file) }}">{{file}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </center>
{% endblock %}