{% extends "template.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
    <center>
        <h1>
            Contact Us
        </h1>
        <hr>
        <form action="#" method="POST">
            <p>
                <input type="text" name="firstname" value="" placeholder="First Name:">
            </p>
            <p>
                <input type="text" name="lastname" value="" placeholder="Last Name:">
            </p>
            <p>
                <input type="text" name="email" value="" placeholder="Email:">
            </p>
            <p>
                <textarea id="contact_msg" rows="15" name="message" value="" placeholder="Message:" ></textarea>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </center>
{% endblock %}

        